node_modules/
angular-sap-common-filters.iml
.tmp
dev
dist
npm-debug.log
client/requires.js
server/requires.js
coverage
uploads/
doc/
.sonar
reports/
bin/server/logs
test/results

# Node.js #
###########
node_modules/
client/node_modules/
server/node_modules/

# IDE #
#######
*.iml
.idea
.vagrant
.project
.grunt
*.sublime*

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
